<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Deleted Wikipedia</title>
  </head>
  <body style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <h1>Too hot for Wikipedia</h1>
    <%= yield %>
  </body>
</html>
